.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form button {
  border: none;
  cursor: pointer;
  background-color: #48180b;
  padding: 0.8rem 3.2rem;
  border-radius: 32px;
  font-family: inherit;
  color: #eee;
  font-weight: 600;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.form button:hover,
.form button:active {
  background-color: #301007;
}
