.input {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.input label {
  font-weight: 700;
}

.input input {
  font-family: inherit;
  outline: none;
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.4rem 0 0.6rem 0.4rem;
  border: 1px solid #ccc;
  background-color: #fff;

  transition: all 0.3s;
}

.input input {
  border-radius: 7px;
}
